body
{
    background-color: #fff;
/*    background-image: url('img/mexico.jpg');*/
    margin: 0;
    padding: 0;
}
img, canvas
{
    max-width: 100%;
}
#dropbox
{
    -moz-box-shadow: 3px 3px 4px #444;
    -webkit-box-shadow: 3px 3px 4px #444;
    box-shadow: 3px 3px 4px #444;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
    overflow: auto;
    min-height: 450px;
    width: 450px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 5px solid black;
    text-align: center;
    line-height: 210px;
    color: green;
    font-size: 48px;
    font-weight: bolder;
}
